# Configuration et secrets
config.py
.env
.streamlit/
.streamlit/secrets.toml

# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Environnement virtuel
venv/
env/

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log 
